html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  background-color: blue;
  margin: 15px;
}

#banners {
  display: flex;
  flex-wrap: wrap;
}

#banners > div {
  position: relative;
}

#banners > div span {
  position: absolute;
  top: 0;
  left: 15px;
}
